@import "../../utils/styles/vars";
@import "../../utils/styles/mixins";

.placeCreate{
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  align-items: center;
  overflow-y: scroll;
  height: calc(100vh - $navbarHeight - 2rem -  1px);
  padding: 1rem;
  @include scrollBarBis();

  h1{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }

  &__submit{
    background: red;
    color: white;
    font-weight: bold;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
  }

  &__infos, &__image, &__location{
    padding: 1.5rem;
    background: #eeeeee;
    border-radius: 5px;
    width: 30rem;
    max-width: 75vw;
  }

  &__location{
    &__map{
      position: relative;
      background: #5A5A5A;
      border-radius: 5px;
      width: 100%;
      height: 15rem;
      @include centerBtn();
    }
    &__form{
      display: flex;
      flex-direction: column;
      label{
        font-weight: 500;
        margin-top: 0.75rem;
        display: flex;
        flex-direction: column;
        span{
          font-weight: normal;
          font-size: 0.75rem;
          margin-top: 0.1rem;
          font-style: italic;
          color: #5A5A5A;
        }
      }
      input{
        border: 1px solid darken($borderColor, 10%);
        line-height: 1.25rem;
        padding: 0.25rem 0.5rem;
        border-radius: 8px;
        margin: 0.25rem 0;
      }

      &__results{
        font-size: 0.75rem;
        border-radius: 5px;
        background: white;
        li{
          padding: 0.25rem;
          border: 1px solid $borderColor;
          &:hover{
            background: $borderColor;
            cursor: pointer;
          }
        }
      }
    }
  }

  &__infos{
    &__form{
      display: flex;
      flex-direction: column;

      &__error{
        color: red;
        font-size: 0.75rem;
      }

      label{
        font-weight: 500;
        margin-top: 0.75rem;
        display: flex;
        flex-direction: column;
        span{
          font-weight: normal;
          font-size: 0.75rem;
          margin-top: 0.1rem;
          font-style: italic;
          color: #5A5A5A;
        }
      }
      input, textarea, select {
        border: 1px solid darken($borderColor, 10%);
        line-height: 1.25rem;
        padding: 0.25rem 0.5rem;
        border-radius: 8px;
        margin: 0.25rem 0;
      }
      textarea{
        resize: none;
        height: 2.5rem;
      }
    }
  }

  &__image{
    height: 12rem;
    &__content{
      label{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        img{
          border-radius: 25px;
          width: 60%;
          aspect-ratio: 1;
          object-fit: cover;
          border: 10px solid #fff;
        }
        div{
          display: flex;
          flex-direction: column;
          justify-content: center;
          h2{
            font-size: 1.1rem;
            font-weight: 500;
            margin-bottom: 0.5rem;
          }
          p{
            font-size: 0.9rem;
            margin-bottom: 0.25rem;
            font-style: italic;
            color: #5A5A5A;
          }
        }

        &:hover{
          cursor: pointer;
        }
      }
      input{
        display: none;
      }
    }
  }
}