@import "../../utils/styles/vars";
@import "../../utils/styles/mixins";


.modal{
    position: absolute;
    top: 50%;   
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 75%;
    height: 50%;
    border-radius: 5px;
    padding: 1.5rem;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10000px rgba(0,0,0,0.5);

    &__close{
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        color: darken($color: #fff, $amount: 60%);
        &:hover{
            color: $hightlightColor;
        }
    }

    h1{
        font-size: 1.5rem;
        font-weight: 500;
        color: darken(#fff, 75%);
        margin-top: 2rem;
    }

    h2{
        margin: 0.5rem 0;
        font-size: 1.15rem;
        font-weight: 500;
        color: darken(#fff, 75%);
    }

    &__places{
        &__item{
            padding: 0.5rem 0;
            border-bottom: 1px solid #eeeeee;
            &:first-child{
                border-top: 1px solid #eeeeee;
            }
            &:hover{
                background-color: #eeeeee;
                cursor: pointer;
            }
            input{
                margin-right: 1rem;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}