@import "../../utils/styles/vars";

@mixin resetLinks($color: #000){
    color: $color;
    text-decoration: none;
    &:visited{
      color: $color;
    }
    &:hover{
      color: $color;
    }
}

@mixin scrollBar(){

  /* width */
  & ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  & ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  & ::-webkit-scrollbar-thumb {
    background: darken($borderColor, 10%);
    border-radius: 2rem;
  }

  /* Handle on hover */
  & ::-webkit-scrollbar-thumb:hover {
    background: darken($borderColor, 20%);
  }

}

@mixin scrollBarBis() {

  /* width */
  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: darken($borderColor, 10%);
    border-radius: 2rem;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: darken($borderColor, 20%);
  }
}

@mixin centerBtn(){
  &__center{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1000;
    bottom: 10px;
    left: 10px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 0.54rem;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.4);
    &:hover{
      cursor: pointer;
      background: #eee;
    }
  }
}