// Layout
$navbarHeight: 4.5rem;
$borderColor: #D2D2D2;
$navbarHoverBackground: #F2F2F2;
$navbarIconColor: #5A5A5A;
$navbarBackground: #FFFFFF;

// Filters
$filterBackground: #F5F5F5;
$filerBorder: #D2D2D2;
$filterArrowColor: #5A5A5A;
$filterHeight: 2.5rem;